[profile.default]
src = "src"
out = "out"
libs = ["lib"]
solc = "0.8.19"
solc_version = "0.8.19"

remappings = ['chainlink/=lib/chainlink-brownie-contracts/contracts/', '@solmate/=lib/solmate/src']


# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options
